.container{
  justify-content: space-between;
}

.weather-container{
  max-width: 400px;
  margin-left: 0;
  padding-left: 850px;
  position: absolute;
}

.header{
  font-size: 28px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  width: fit-content;
  color: rgb(21, 23, 60);
}

.news-header{
  font-size: 28px;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  width: fit-content;
  color: rgb(21, 23, 60);
}
.small-icon{
  width: 70px;
  text-align: right;
  position: absolute;
}

.news-list{
  max-width: 750px;
  padding-left: 100px;
  position: absolute;
}

.main-header{
  font-size: 58px;
  width: fit-content;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  color:rgb(21, 23, 60);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.header-icon{
  width: 80px;
}